# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# WordPress PHP files
[*.php]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 1
trim_trailing_whitespace = true

# JavaScript files
[*.js]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# JSON files
[*.json]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# SCSS files
[*.scss]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 1
trim_trailing_whitespace = true

# CSS files
[*.css]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 1
trim_trailing_whitespace = true

# Markdown files
[*.md]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# YAML files
[*.{yml,yaml}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# XML files
[*.xml]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 1
trim_trailing_whitespace = true

# Configuration files
[.{editorconfig,gitignore}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
