/**
 * Front Page Styles
 * Main page specific styles
 */

// Override site-main overflow for front page
.home .site-main,
.front-page .site-main {
	overflow: visible;
}

@import "../blocks/header";
@import "../blocks/hero";
@import "../blocks/why-us";
@import "../blocks/how-it-works";
@import "../blocks/trusted-by";
@import "../blocks/services";
@import "../blocks/custom-itinerary";
@import "../blocks/final-cta";
