html {
	// Автоматически вычисляет ширину scrollbar (100vw включает scrollbar, 100% - нет)
	--scrollbar-width: calc(100vw - 100%);
}

html,
body {
	background: $color__background-body;
	color: $color__text-main;
	overflow-x: hidden;
	max-width: 100%;
}
