$size__site-main: 100%;
$size__site-sidebar: 25%;

// Breakpoints (desktop-first approach)
$breakpoint-desktop: 1920px;
$breakpoint-laptop: 1440px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 375px;

// Container max-width
$container-max-width: 1920px;
