/**
 * Hero Block Styles
 */

.hero-block {
	width: 100%;
	height: 780px;
	min-height: 780px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	overflow: hidden;

	// Tablet (1024px)
	@include tablet {
		height: 600px;
		min-height: 600px;
	}

	// Mobile (375px)
	@include mobile {
		height: 400px;
		min-height: 400px;
	}
}
