/**
 * Hero Block Styles
 */

.hero-block {
	width: 100%;
	height: 780px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 0; // Прилегает к верху экрана

	// Tablet (1024px)
	@include tablet {
		height: 600px;
	}

	// Mobile (375px)
	@include mobile {
		height: 400px;
	}
}
