/**
 * Hero Block Styles
 */

.hero-block {
	width: 100% !important;
	height: 780px !important;
	min-height: 780px !important;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-attachment: scroll !important;
	margin: 0 !important;
	padding: 0 !important;
	display: block !important;
	position: relative;
	overflow: hidden;
	z-index: 1;

	// Tablet (1024px)
	@include tablet {
		height: 600px !important;
		min-height: 600px !important;
	}

	// Mobile (375px)
	@include mobile {
		height: 400px !important;
		min-height: 400px !important;
	}
}
